# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#skills
#https://github.com/nextlevelbuilder/ui-ux-pro-max-skill
#npm install ui-ux-pro-max-cli  --> Install inside the project folder not Global. If you want to install globally use npm install -g ui-ux-pro-max-cli
#npx ui-ux-pro-max-cli init --ai copilot  --> For Github Copilot
#npx ui-ux-pro-max-cli init --ai antigravity --> For Antigravity
.agents/
.github/
